*, *::before,*::after{
    box-sizing: border-box;
}

:root{
    --Pale-Violet: hsl(308, 61%, 61%);
    --Moderate-Violet : hsl(276, 55%, 52%);
    --Desaturated-Dark-Violet: hsl(271, 15%, 43%);
    --Grayish-Blue: hsl(206, 6%, 79%);
    --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
    --Dark-Grayish-Violet: hsl(270, 7%, 64%);
    --Light-Magenta: hsl(293, 100%, 63%);
    --Light-Violet: hsl(264, 100%, 61%);
}
body{
    margin: 0;
    padding: 100px 0px;
    font-family: 'Rubik', sans-serif;
}

.design{
    width: 300px;
    background-color: var(--Moderate-Violet);
    height: 500px;
    margin: 0px;
    border-radius: 0px 0px 150px 40px;
    margin-left: -1px;
}
.container{
    width: 500px;
    margin:auto;
    padding: 0rem 0rem;
    background-color: #fff;
    box-shadow: 10px 10px 20px 10px var(--Grayish-Blue);

}

.phone{
    border: 6px solid white;
    width:80%;
    margin: auto;
    margin-top: -400px;
    border-radius: 40px;
    box-shadow: 20px 0px 20px 0px var(--Grayish-Blue);
}


 /*-----------    
---Header-----------------*/

.head-style{
    width: 200px;
    height: 20px;
    background-color:#fff;
    margin-left: auto;
    margin-right: auto;
    border-radius:3px 3px 40px 40px ;
}

.header{
    background:linear-gradient(to left, var(--Light-Magenta), var(--Light-Violet));
    border-radius:40px 40px 5px 5px;
}

.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin: auto;
    margin-top: -25px;
    color: #fff;
    border-radius:40px 40px 5px 5px;
}


.arrow1 {
    border: 1px solid #fff;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
  }

  .left {
    margin-top: 35px;
    margin-left: 10px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .profile{
    display: flex;
    flex-direction: row;
  }

.image{
    width:40px;
    height: 40px;
    margin-top: 25px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.name{
    margin-top: 20px;
    line-height: 10px;
}

.name h1{
    font-size: 20px;
    font-weight: 300;
}

.name .Avaliable{
    font-size: 12px;font-weight: 300;
    color:var(--Grayish-Blue);
}

.dots{
    margin-top: 20px;
    margin-right: 10px;
}
.dots div{
    width: 0px;
    height: 8px;
    font-weight: 900;
}
.dots a{
    text-decoration: none;
    color: #fff;
}
/*------------Messages-------------*/

.message{
    background:rgb(239, 237, 237);
    display: flex;
    flex-direction: column;
    padding:0px 10px;
    padding-bottom: 1rem;
    border-radius: 0px 0px 40px 40px;
}

.receiver{

    justify-content: center;
    background-color: var(--Grayish-Blue);
    width: fit-content;
    padding: 0.5rem;
    max-width: 80%;
    color: var(--Moderate-Violet);
    border-radius: 15px;
}

.sender-image{
    display: flex;
    flex-direction: row;
    width:50%;
    gap: 10px;
    justify-content: space-around;
}

.dogs{
    width: 50px;
    border-radius: 10px;
}

.sender{
    align-self: flex-end;
    width: fit-content;
    display: flex;
    background: #fff;
    color: var(--Dark-Grayish-Violet);
    border-radius: 10px;
    padding: 0.5rem;
    justify-self: end;
    max-width:210px;
    box-shadow: 3px 3px 5px 5px var(--Grayish-Blue);
}



.walk{
    background:linear-gradient(to right, var(--Light-Magenta), var(--Light-Violet));
    color: rgba(255, 255, 255, 0.826);
    display: flex;
    flex-direction:row;
    width:80%;
    border-radius: 20px 20px 20px 0px;
}

.circle{
   width: 20px;
   height: 20px;
   margin:auto 10px;
   border: 1px solid #fff;
   border-radius: 50%;
}

.minute{
    margin-top: 10px;
}
.hour{
    margin-top: 10px;
}

.minutes{
    margin: auto 5px;
}
.hours{
    margin: auto 5px;
}

h2{
margin-left:50px;
margin-right: 5px;
font-weight: 600;
}
.end{
    margin-left: 75px;
}

.textarea{
    width:100%;
    background-color: #fff;
    display: flex;
    justify-content:start;
    border-radius: 20px 30px 30px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px 5px var(--Grayish-Blue);
}

input{
    width: 90%;
    height: 60px;
    border: none;
    border-radius: 10px;
    padding: 1rem;
}

.btn-2{
    width:50px;
    height: 50px;
    margin: auto;
    margin-right: 5px;
    border-radius: 50%;
    background-color:var(--Very-Dark-Desaturated-Violet);
    color: #fff;
    font-size: 20px;
    font-weight: 900;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

.btn-2:hover{
    background-color: var(--Moderate-Violet);
    transition: 0.3s ease;
}

/*---------------content-----------*/

.content{
    margin-top: 50px;
    width:100%;
    text-align: center;
}

h3{
    font-size: 40px;
    font-weight: 900;
    color: var(--Very-Dark-Desaturated-Violet);
}
.paragraph{
 color:var(--Dark-Grayish-Violet);
 line-height: 20px;
 width: 80%;
 max-width:320px;
 margin: auto;
 font-size: 16px;
 font-weight: 640;
 padding-bottom: 3rem;
}

@media screen and (min-width:1400px){

    body{
        padding:0
    }

    
.design{
    width: 25%;
    background:linear-gradient(to bottom, var(--Light-Magenta), var(--Light-Violet));
    height:80vh;
    margin: 0px;
    border-radius: 0px 0px 200px 200px;
    margin-left: 5px;
    margin-top: -30px;

}
    .container{
        width:100%;
        display: flex;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    .phone{
        border: 8px solid white;
        width:450px;
        background: #fff;
        height: auto;
        margin: auto;
        gap: 10%;
        margin-left: -50px;
        border-radius: 40px;
        box-shadow: 10px 10px 20px 10px var(--Grayish-Blue);
    }
    
    .head-style{
        width: 200px;
        height: 20px;
        background-color:#fff;
        margin-left: auto;
        margin-right: auto;
        border-radius:3px 3px 40px 40px ;
    }
    
    .header{
        background:linear-gradient(to left, var(--Light-Magenta), var(--Light-Violet));
        border-radius:40px 40px 5px 5px;
    }
    
    .heading{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
        margin: auto;
        margin-top: -35px;
        color: #fff;
        border-radius:40px 40px 5px 5px;
    }
    
    
    .arrow1 {
        border: 1px solid #fff;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 4px;
      }
    
      .left {
        margin-top: 35px;
        margin-left: 10px;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
    
      .profile{
        width: fit-content;
        gap: 10px;
      }
    .image{
        width:30px;
        height: 30px;
        margin-top: 25px;
        border: 2px solid #fff;
        border-radius: 50%;
    }
    
    .name{
        margin-top:20px;
        line-height: 10px;
    }
    
    .name h1{
        font-size: 16px;
        font-weight: 300;
    }
    
    .name .Avaliable{
        font-size: 12px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.487);
    }
    
    .dots{
        margin-top: 20px;
        margin-right: 10px;
    }
    .dots div{
        width: 0px;
        height: 8px;
        font-weight: 900;
    }
    .dots a{
        text-decoration: none;
        color: #fff;
    }
    /*------------Messages-------------*/
    
    .message{
        background:rgb(239, 237, 237);
        display: flex;
        flex-direction: column;
        padding:0px 10px;
        padding-bottom: 1rem;
        border-radius: 0px 0px 40px 40px;
    }
    
    .receiver{
        width:100%;
        padding: 0.5rem;
        max-width: 80%;
        border-radius: 15px;
    }
    
    .sender-image{
        display: flex;
        flex-direction: row;
        width:0px;
        gap: 10px;
    }
    
    .dogs{
        width: 40px;
        border-radius: 10px;
    }
    
    .sender{
        align-self: flex-end;
        width: fit-content;
        display: flex;
        background: #fff;
        color: var(--Dark-Grayish-Violet);
        border-radius: 10px;
        padding: 0.5rem;
        justify-self: end;
        max-width:210px;
        box-shadow: 3px 3px 5px 5px var(--Grayish-Blue);
    }
    
    

    /*---------------content-----------*/
    
    
    .content{
        width:40%;
        margin: auto;
        margin-left: -20px;
    }
    
    h3{
        font-size: 35px;
        font-weight: 900;
        width: fit-content;
        color: var(--Very-Dark-Desaturated-Violet);
    }
    .paragraph{
     width:fit-content;
     margin: 0px;
     max-width:460px;
     text-align: start;
     font-size: 16px;
     font-weight: 640;
     padding-bottom: 0;
    }
}